*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


.top{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #6e73a1;
  color: white;
}
.toplist{
  display: inline;
  margin-left: 50px;
  color: white;
  
}
.list{
  margin-left: 350px;
}
.logo{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}









/* MEDIAQUERY */
@media(max-width:930px){
  .logo{
    display: none;
  }
  .top{
    display: none;
  }

}